<div class="mt-4">
    <h3>Khoá học của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-5">Tên khoá học</th>
                <th scope="col" class="col-3">Trình độ</th>
                <th scope="col" class="col-3" colspan="3">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}

            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link text-decoration-none" >Sửa</a>
                </td>
                <td>
                    <a class="btn btn-link text-decoration-none" href="#">Xoá</a>
                </td>
            </tr>

            {{/each}}

        </tbody>
    </table>
</div>